.blinds-component {

	.blinds-container {
		overflow: hidden;
	}

	.blinds-item {
		float: left;
		.dir-rtl & {
      float: right;
    }

		position: relative;

		border: 3px solid @item-color;

		.blinds-item-overlay {
			background: @item-color-visited;
			opacity: 0;
			width: 100%;
			height: 100%;
		}

		&:hover {
      border: 3px solid @item-color-hover !important;

			.blinds-item-overlay {
				opacity: 0 !important;
			}
    }

    &.visited {
      border: 3px solid @item-color-visited;

			.blinds-item-overlay {
				opacity: 0.5;
			}
    }

		&.selected {
      border: 3px solid @item-color-hover;

			.blinds-item-overlay {
				opacity: 0 !important;
			}
    }

		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-transition: width 0.4s;
		-moz-transition: width 0.4s;
		-ms-transition: width 0.4s;
		-o-transition: width 0.4s;
		transition: width 0.4s;

	}

	.blinds-caption {
		position: relative;
	}

	.blinds-item:hover p {
		transition: opacity 0.4s;
	}

	.blinds-text {
		position: absolute;
		margin: @item-padding;
		padding: @component-padding;
		background: @background-color;
		color: @font-color;

		&.hidden {
			display: none;
		}
	}

	.blinds-item-title {
		padding-bottom: @component-padding;
		.sub-title;
	}

	.blinds-item-body {
		font-weight: @font-weight-regular;
	}
}

.blinds-component.mobile {
	.blinds-items {
		width: auto;
	}

	.blinds-item {
		width: 100% !important;
		background-size: cover;
		margin: @item-margin 0;
	}

	.blinds-text {
		margin: @component-padding;
		width: auto !important;

		@media all and (max-width: @device-width-small) {
      position: static !important;
    }
	}
}
