.blinds {

	&__container {
		overflow: hidden;
	}

	.blinds-item {
		float: left;
		.dir-rtl & {
      float: right;
    }

		position: relative;

		border: 3px solid @item-color;

		.blinds-item-overlay {
			background: @item-color;
			opacity: 0;
			width: 100%;
			height: 100%;
		}

		&:hover {
      border: 3px solid @item-color-hover !important;

			.blinds-item-overlay {
				opacity: 0 !important;
			}
    }

    &.is-visited {
      border: 3px solid @visited;

			.blinds-item-overlay {
				opacity: 0.5;
			}
    }

		&.is-selected {
      border: 3px solid @item-color-hover;

			.blinds-item-overlay {
				opacity: 0 !important;
			}
    }

		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-transition: width 0.4s;
		-moz-transition: width 0.4s;
		-ms-transition: width 0.4s;
		-o-transition: width 0.4s;
		transition: width 0.4s;

	}

	.blinds-caption {
		position: relative;
	}

	.blinds-item:hover p {
		transition: opacity 0.4s;
	}

	.blinds-text {
		position: absolute;
		padding: @component-body-margin;
		background: @font-color-inverted;
		color: @font-color;

		text-align: left;
		.dir-rtl & {
      text-align: right;
    }

		&.is-hidden {
			display: none;
		}
	}

	.blinds-item-title {
		padding-bottom: @component-body-margin;
		.item-title;
	}

	.blinds-item-body {
		font-size: @body-size;
		font-weight: @body-weight;
	}
}

.blinds.mobile {
	.blinds-items {
		width: auto;
	}

	.blinds-item {
		width: 100% !important;
		background-size: cover;
		margin: @item-margin 0;
	}

	.blinds-text {
		margin: @component-body-margin;
		width: auto !important;
	}
}
