.blinds-inner {
	* {
		box-sizing: border-box;
	}

	.blinds-container {
		overflow: hidden;
	}

	.blinds-item {
		float: left;
		.dir-rtl & {
      float: right;
    }
		position: relative;
		height: 500px;
		padding: @item-padding;
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-transition: width 0.4s;
		-moz-transition: width 0.4s;
		-ms-transition: width 0.4s;
		-o-transition: width 0.4s;
		transition: width 0.4s;
	}

	.blinds-caption {
		position: relative;
	}

	.blinds-item:hover p {
		transition: opacity 0.4s;
	}

	.blinds-text {
		opacity: 0;
		position: absolute;
		margin: 0;
		padding: @component-padding;
		background: @background-color;
		color: @font-color;
		border: @item-border;
		font-weight: normal;
	}
}

.blinds-component.mobile {
	.blinds-items {
		width: auto;
	}

	.blinds-item {
		width: 100% !important;
		margin: @item-margin 0;
	}

	.blinds-text {
		opacity: 1;
		position: static;
		margin: @component-padding;
		width: auto !important;
	}
}
