<div class="blinds-inner component-inner">
	{{> component this}}
	<div class="blinds-widget component-widget">
		<div class="blinds-container">
			<div class="blinds-items clearfix">
				{{#each _items}}
					<button class="base blinds-item{{#if _isVisited}} visited{{/if}}" style="background-image:url('{{_graphic._src}}')" aria-label="{{_graphic.ariaLabel}}">
						<div class="blinds-item-overlay" aria-hidden="true"></div>
						<div class="blinds-text not-accessible">
							{{#if title}}
							<div class="blinds-item-title">
								{{{compile title}}}
							</div>
							{{/if}}
							{{#if body}}
							<div class="blinds-item-body">
								{{{compile body}}}
							</div>
							{{/if}}
						</div>
					</button>
				{{/each}}
			</div>
		</div>
	</div>
</div>
