<div class="blinds-inner component-inner">
	{{> component this}}
	<div class="blinds-widget component-widget">
		<div class="blinds-container">
			<div class="blinds-items clearfix">
				{{#each _items}}
					<button class="base blinds-item" style="background-image:url('{{_graphic._src}}')" role="button" tabindex="0" aria-label="{{_graphic.ariaLabel}}">
						<div class="blinds-text not-accessible">
							{{{a11y_text body}}}
						</div>
					</button>
				{{/each}}
			</div>
		</div>
	</div>
</div>
